<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.edge.bar"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SUBSCRIBE_TO_KEYGUARD_LOCKED_STATE" />
    <uses-permission android:name="android.permission.REQUEST_SYSTEM_MULTITASKING_CONTROLS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    
    <protected-broadcast android:name="com.android.edge.bar.ACTION_START_SIDEBAR"/>
    <protected-broadcast android:name="com.android.edge.bar.ACTION_STOP_SIDEBAR"/>

    <application
        android:name=".EdgeApplication"
        android:allowBackup="false"
        android:label="Edge Bar"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <service
            android:name=".EdgeService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".SidebarReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.edge.bar.ACTION_START_SIDEBAR" />
                <action android:name="com.android.edge.bar.ACTION_STOP_SIDEBAR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="Edge Launcher"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:exported="true">
        </activity>

    </application>

</manifest>
